.case1{
	margin: 5px auto;
	display: block;
	height: 32px;
	width: 64px;
	background: no-repeat url(../img/110.png) top;
}
.case1:hover{
	background-position: bottom;
}

.case2{
	margin: 5px auto;
	width: 310px;
	height: 190px;
	border: 1px solid grey;
	padding: 10px;
	position: relative;
}
.case2 img:first-of-type{
	position: absolute;
	top: 0;
	left: 0;
}
.case2 img:last-of-type{
	position: absolute;
	bottom: 0;
	right: 0;
}

.case3{
	margin: 10px auto;
	width: 1259px;
	height: 472px;
	position: relative;
}
.nav3{
	width: 960px;
	height: 80px;
	position: absolute;
	left: 50%;
	margin-left: -480px;
	bottom: 0;
}
.nav3 a{
	width: 160px;
	height: 80px;
	display: block;
	float: left;
	text-align: center;
	line-height: 80px;
	background: #000;
	color: #fff;
}
.nav3 a:hover{
	background: #FFF;
	color: #000;
}

.case4{
	margin: 10px auto;
	position: relative;
	width: 520px;
	height: 280px;
}
.case4 a:nth-of-type(1) img{
	position: absolute;
	top: 50%;
	margin-top: -18px;
	left:0;
}
.case4 a:nth-of-type(2) img{
	position: absolute;
	top: 50%;
	margin-top: -18px;
	right: 0;
}
.case4 div{
	width: 70px;
	height: 13px;
	border-radius: 6px;
	background: rgba(255,255,255, .3);
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: 18px;
}
.case4 div li{
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	float: left;
	margin: 3px;
}
.case4 div li:first-of-type{
	background: #f40;
}

.case5{
	margin: 5px auto;
	height: 50px;
	width: 260px;
}
.case5 div{
	width: 50px;
	height: 50px;
	border: 2px solid grey;
	float: left;
	margin-right: -2px;
}
.case5 div:hover{
	z-index: 1;
	border-color: blue;
	position: relative;
}

.case6{
	background: url(../img/wx.jpg) repeat-x;
	height: 500px;
}
.case6 div{
	height: 33px;
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
}
.case6 a{
	display: inline-block;
	float: left;
	height: 33px;
	background: url(../img/hdm_ao.png) no-repeat;
	color: #fff;
	line-height: 33px;
	padding-left: 15px;
	margin-left: 15px;
}
.case6 span{
	display: inline-block;
	background: url(../img/hdm_ao.png) no-repeat right;
	padding-right: 15px;
}
.case6 a:hover{
	background: url(../img/hdm_to.png) no-repeat;	
}
.case6 a:hover span{
	background: url(../img/hdm_to.png) no-repeat right;
}
#case7 i{
	font-size:50px;
	color: red;
}